<div class="about col-6-10" id="about">

	<h1 class="headline">About Us</h1>

	<p>Voted "Best Film Festival in 2013" by the readers of the East Bay Express, the Save A Kitten at OakCatVidFest returns to the Great Wall on May 10, 2014 with an entirely new #catvidfest program from the Walker Art Center, many more cats and kittens ready for adoption and twice as many cat-themed bands, events and activities! In 2013, the festival donated over 15K to needy cats and kittens, and this year, we hope to donate even more! If you'd like to volunteer make this year's festival another success, please email festival organizers: <a class="button" href="mailto:oaklandcatvidfest@gmail.com">oaklandcatvidfest@gmail.com</a>.</p>

	{{!
	<p>The Great Wall of Oakland is collaborating with the Walker Art Center to bring the Internet Cat Video Festival to Oakland! On <b>Saturday, May 11, 2013 from 3-10pm</b>, an estimated 5,000+ cat-lovers and friends will be celebrating felines and exploring the low-art of Internet cat videos together, in real-time, as we transform West Grand between Telegraph and Broadway into a cat-lovers wonderland. Best of all, proceeds benefit the <a class="button" href="https://www.eastbayspca.org/">East Bay SPCA!</a></p>
	<p>During the day, cat-lovers and their allies can peruse cat and pet products and arts and crafts from a host of vendors, adopt cats from local rescue centers, learn about kitten fostering, listen to live bands, nom delicious human food from local food trucks, and participate in a plethora of cativities, including art projects.</p>
	<p>As the sun sets, festival attendees will gather in front of the Great Wall to view the Bay Area premiere of <a href="http://www.walkerart.org/channel/2012/internet-cat-video-festival" alt="Read more about Walker Art Museum's Internet Cat Video Festival">#catvidfest</a>, the Walker Art Center's curated collection of Internet cat videos. See your favorites: "Henri," "Cats Playing Patty Cake," and "Cat Says NOM NOM NOM." The Great Wall's artist in residence group, <a href="http://bandaloop.org/">Bandaloop</a>, will perform a cat-themed aerial duet off the 100' Wall before the screening.</p>
	<p>The Oakland Internet Cat Video Festival is a unique community event celebrating cats, art and technology while educating the public on the importance of cat adoption and kitten fostering.</p>
	}}

</div>
<div class="news col-6-10" id="news">

	<h1 class="headline">2013 OakCatVidFest</h1>
	<p>If you missed the inaugural OakCatVidFest on May 10, 2013, you might want to check out these photos and videos to prepare yourself for the most cat-tastic event of the year.</p>

	<h2 class="headline">2013 #catvidfest Reel</h2>
	<p>Watch last year's <a class="button" href="http://www.youtube.com/playlist?list=PLC0B137D835A3C970">#catvdifest Reel</a>, but be prepared because the 2014 #catvidfest Reel is even funnier!</p>

	<h2 class="headline">2013 OakCatVidFest Photos</h2>
	<p>Check out all of the <a class="button" href="http://thefurrtographer.smugmug.com/Animals/cats/Oakland-Internet-Cat-Video/">photos from the event</a> from The Furrtographer.</p>

	<h2 class="headline">2013 OakCatVidFest Video</h2>
	<iframe width="560" height="315" src="//www.youtube.com/embed/MidIjnDc9MY" frameborder="0" allowfullscreen></iframe>

	<h2 class="headline">2013 Festival Mews</h2>
	<ul>
		{{#resources.links.channel.item}}
		<li>
			<a href="{{link}}">{{title}}</a>
		</li>
		{{/resources.links.channel.item}}
	</ul>

</div>
<div class="col-6-10" id="who-we-are">

	<h2 class="headline">&#8220;What is The Great Wall?&#8221;</h2>

	<p>The Oakland Internet Cat Video Festival is presented by the <a class="button" href="http://greatwallofoakland.org/">Great Wall of Oakland</a>, the large-scale urban projection installation in the heart of Oakland’s Uptown. Our small staff and a crew of amazing volunteers are working tirelessly to bring you this cat, art and technology extravaganza.</p>
	<img src="http://www.greatwallofoakland.org/images/image-gwo.jpg" alt="Images of visuals on the Great Wall of Oakland"/>

</div>
