<div class="col-6-10" id="adoptions">

	<h1 class="headline">Cat Adoptions</h1>

	<iframe class="responsive-video" src="//player.vimeo.com/video/91752532" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</div>
<div class="col-6-10" id="shelters">

	<h1 class="headline">Become a Kitten Foster Parent</h1>

	<div class="photos">
		<img src="http://www.greatwallofoakland.org/images/kitten-01.jpg" alt="A baby kitten sleeping.">
		<img src="http://www.greatwallofoakland.org/images/kitten-02.jpg" alt="A baby kitten nursing from a bottle.">
		<img src="http://www.greatwallofoakland.org/images/kitten-03.jpg" alt="A baby kitten sleeping.">
	</div>

	<p>It's Kitten Season! So many pre-weaned kittens need foster parents to bottle-feed them to maturity so we're attempting to sign up 100 new kitten foster parents before the festival. If you'd like to save a kitten, contact one of the local shelters below and receive <strong>2 FREE TICKETS</strong> to the festival!</p>

	<h2 class="headline">Local Shelters</h2>

	<ul class="shelters">
	<li>

		<h3>Cat Town</h3>
		<p>
			Website: <a href="http://www.cattownoakland.org/">cattownoakland.org</a><br>
			E-mail: <a href="mailto:info@cattownoakland.org">info@cattownoakland.org</a>
		</p>

	</li>
	<li>

		<h3>East Bay SPCA</h3>

		<p>
			Website: <a href="http://www.eastbayspca.org/">eastbayspca.org</a><br>
			E-mail: <a href="mailto:foster@eastbayspca.org">foster@eastbayspca.org</a>
		</p>

	</li>
	<li>

		<h3>Feral Cat Foundation</h3>

		<p>
			Website: <a href="http://www.feralcatfoundation.org/">feralcatfoundation.org</a><br>
			E-mail: <a href="mailto:feralhelp@feralcatfoundation.org">feralhelp@feralcatfoundation.org</a><br>
			Phone: (510) 657-3709
		</p>

	</li>
	<li>

		<h3>Friends of the Alameda Animal Shelter</h3>

		<p>
			Website: <a href="http://www.alamedaanimalshelter.org/">alamedaanimalshelter.org</a><br>
			E-mail: <a href="mailto:infofaas09@gmail.com">infofaas09@gmail.com</a><br>
			Phone: (510) 337-8565
		</p>

	</li>
	<li>

		<h3>Hopalong Animal Rescue</h3>

		<p>
			Website: <a href="http://www.hopalong.org/">hopalong.org</a><br>
			E-mail: <a href="mailto:info@hopalong.org">info@hopalong.org</a><br>
			Phone: (510) 267-1915
		</p>

	</li>
	<li>

		<h3>Island Cat Resources and Adoption</h3>

		<p>
			Website: <a href="http://www.icraeastbay.org/">icraeastbay.org</a><br>
			E-mail: <a href="mailto:info@icraeastbay.org">info@icraeastbay.org</a><br>
			Phone: (510) 869-2584
		</p>

	</li>
	<li>

		<h3>Itty Bitty Orphan Kitty Rescue</h3>

		<p>
			Website: <a href="http://www.ibokrescue.org">ibokrescue.org</a><br>
			E-mail: <a href="mailto:info@ibokrescue.org">info@ibokrescue.org</a><br>
			Phone: (408) 414-3204
		</p>

	</li>
	<li>

		<h3>Maine Coon Adoptions</h3>

		<p>
			Website: <a href="http://www.mainecoonadoptions.com/">mainecoonadoptions.com</a><br>
			E-mail: <a href="mailto:mainecoonadoptions.apps@gmail.com">mainecoonadoptions.apps@gmail.com</a><br>
			Phone: (510) 710-9250
		</p>

	</li>
    <li>

        <h3>Oakland Animal Services</h3>

        <p>
            Website: <a href="http://oaklandanimalservices.org">oaklandanimalservices.org</a><br>
            Phone: (510) 535-5602
        </p>

    </li>
    <li>

        <h3>Pets and Pals</h3>

        <p>
            Website: <a href="http://www.petfinder.com/pet-search?shelterid=CA1455">petfinder.com</a><br>
            E-mail: <a href="mailto:hayflakes2@yahoo.com">hayflakes2@yahoo.com</a><br>
            Phone: (925) 915-9489
        </p>

    </li>
	<li>

		<h3>Tony La Russa's Animal Rescue Foundation</h3>

		<p>
			Website: <a href="http://www.arf.net">arf.net</a><br>
			Contact: <a href="http://arf.convio.net/site/PageNavigator/contactus">Contact Arf</a><br>
			Phone: (925) 296-3120
		</p>

	</li>
	</ul>

</div>
<div class="news col-6-10" id="fostering">

	<h2 class="headline">A Letter from Lincoln the Foster Kitten</h2>
	<p><em>Tens of thousands of me are born every year in the Bay Area.</em></p>
	<p><em>A loving, caring foster home gets us on our way to living full, long lives. These foster homes need supplies to keep us healthy and thriving.</em></p>
	<p><em>Pet Food Express is making is easy to get supplies to foster homes. During May, you can stop by any Pet Food Express store and donate essential kitten supplies or make a monetary donation to help support the hundreds of foster homes that we need to survive.</em></p>
	<p><em>Pet Food Express works with 80 Northern California cat rescues and shelters during kitten season and year round to ensure that all the cats and kittens have what they need to be healthy and safe, and that they get into a loving and caring forever home.</em></p>
	<p><em>Thank you for supporting Save a Kitten.</em></p>

	<p><em>Love,</em></p>
	<p><img src="http://www.greatwallofoakland.org/images/img-kitten.jpg" alt="A kitten named Lincoln"></p>

	<p>For more info about Save a Kitten, visit <a href="http://www.petfoodexpress.com/giving-back/save-a-kitten/">petfoodexpress.com/giving-back/save-a-kitten/</a></p>

</div>
