<div class="layout">

	<section class="background col-10-10" id="background">

		{{> Modules/Social Links }}

		<ul class="titles">

			<li class="credits">

				<img src="http://greatwallofoakland.org/images/logo-gwo.png" alt="Great Wall of Oakland">
				<p>presents</p>

			</li>

			<li class="intro">

				<img src="http://greatwallofoakland.org/images/h1-catvids-new.png" alt="Oakland Internet Cat Video Festival">
				<p>An Art and Cat Extravaganza benefiting the <a class="button" href="#date">East Bay SPCA</a></p>

			</li>

		</ul>

		<ul class="cats">

			{{# resources.cats.data.images.image}}

				<li><img class="cat" src="{{url}}" alt="Random cute cat"/></li>

			{{/ resources.cats.data.images.image}}

		</ul>

	</section>

	<section class="navigation">

		{{> Modules/Navigation }}

	</section>

	<section class="col-10-10" id="content">

		<div class="col-6-10" id="about">

			<h1 class="headline">Welcome to OakCatVidFest!</h1>
			<h2>Join us on Saturday, May 11, 2013 from 3-10pm</h2>

			<p>The Great Wall of Oakland is collaborating with the Walker Art Center to bring the Internet Cat Video Festival to Oakland! On <b>Saturday, May 11, 2013 from 3-10pm</b>, an estimated 5,000+ cat-lovers and friends will be celebrating felines and exploring the low-art of Internet cat videos together, in real-time, as we transform West Grand between Telegraph and Broadway into a cat-lovers wonderland. Best of all, proceeds benefit the <a class="button" href="https://www.eastbayspca.org/">East Bay SPCA!</a></p>

			{{> Modules/Social Links }}

		</div>

		<div class="col-6-10" id="tickets">

			<h2 class="headline">Buy Festival Tickets!</h2>

			<p>Tickets are available below through our Ticket Sponsor, Eventbrite.</p>

				<iframe  src="http://www.eventbrite.com/tickets-external?eid=5578523514&ref=etckt&v=2" frameborder="0" height="460" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
				<small><a href="http://www.eventbrite.com/r/etckt">Sell Tickets Online</a> through <a href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></small>

		</div>

		<div class="col-6-10" id="directions">

			<h2 class="headline">Directions</h2>

			<iframe width="100%" height="460" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=broadway+and+w+grand+ave+oakland,+ca&amp;sll=37.811438,-122.266816&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=Broadway+%26+W+Grand+Ave,+Oakland,+Alameda,+California+94612&amp;t=m&amp;ll=37.820701,-122.264957&amp;spn=0.032544,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
			<small><a href="https://maps.google.com/maps?q=broadway+and+w+grand+ave+oakland,+ca&amp;sll=37.811438,-122.266816&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=Broadway+%26+W+Grand+Ave,+Oakland,+Alameda,+California+94612&amp;t=m&amp;ll=37.820701,-122.264957&amp;spn=0.032544,0.054932&amp;z=14&amp;iwloc=A&amp;source=embed">View Larger Map</a></small>

			<p>The Oakland Cat Video Festival will be held at the Great Wall of Oakland and the surrounding areas on West Grand. The entrance will be at the intersection of West Grand and Broadway (near Luka’s Taproom and Lounge) in Oakland.</p>

			<h3>&#8220;How do I get there?&#8221;</h3>

			<ul>
				<li><strong>By BART:</strong> Exit the 19th street BART station and walk north up Broadway four blocks.</li>
				<li><strong>By Bus:</strong> AC Transit lines 51A, 634, 651, and 851 all stop on Broadway right next to the Great Wall of Oakland.</li>
				<li><strong>By Car:</strong> In addition to street parking, there are several <a href="http://www.douglasparking.com/Paramount_Theater.179.0.html">Douglas Parking Lots</a> around the area.</li>
			</ul>

		</div>

		<div class="col-6-10" id="faq">

			<h1 class="headline">Feline FAQ</h1>

				<h2>&#8220;Can I bring my dog?&#8221;</h2>
				<p>Nope! This is a cat fest, silly!</p>

				<h2>&#8220;Can I bring my cat?&#8221;</h2>
				<p>If your cat likes being on a leash, by all means!</p>

				<h2>&#8220;Will there be litter boxes and water bowls for my cat on a leash?&#8221;</h2>
				<p>Nope!</p>

				<h2>&#8220;Can I adopt a cat or kitten from a rescue center at the festival?&#8221;</h2>
				<p>Yes, you can! There will be many local cat rescue groups at the festival from 3:30-7:30 pm who will gladly walk you through the adoption process.</p>

				<h2>&#8220;Why am I paying $10 for a street festival?&#8221;</h2>
				<p>There are a few reasons. Most importantly, the Oakland Internet Cat Video Festival is a benefit for the East Bay SPCA which is doing excellent work for the cats (and dogs) in our community. Secondly, it’s not cheap to close down a major street in the middle of Oakland and bring a few thousand people down to enjoy a large-scale projection of cat videos. If you consider that movie tickets are well over $10 these days, you are getting a pretty good deal (festival entrance + live music + screening of <a href="http://www.walkerart.org/channel/2012/internet-cat-video-festival" alt="Read more about Walker Art Museum's Internet Cat Video Festival">#catvidfest</a> + donation to the East Bay SPCA = money well spent)!</p>

				<h2>&#8220;What percentage of the ticket sales are going to the East Bay SPCA?&#8221;</h2>
				<p>All proceeds after costs are going to the East Bay SPCA. If you would like to donate directly to East Bay SPCA, <a href="https://eastbayspca.org/page.aspx?pid=967">please do!</a></p>

				<h2>&#8220;Will there be food / beverages at the festival?&#8221;</h2>
				<p>Several food trucks with delicious food and beverages will be onsite. No outside food or drink is allowed inside the <abbr title="Oakland Internet Cat Video Festival">OICVF</abbr> grounds. In addition, Luka’s Taproom will be hosting a Beer Tent for persons over 21 years of age. <b>Good time</b>s.</p>

				<h2>&#8220;What will I do at this festival?&#8221;</h2>
				<p>The <abbr title="Oakland Internet Cat Video Festival">OICVF</abbr> is a celebration of cats, art and technology. There will be all kinds of Cativities to do (free art projects for all ages), bands playing on the Save A Kitten stage (see <a href="{{pages.schedule.url}}">schedule</a> for details), and many vendors to check-out.</p>

				<h2>&#8220;Where do I sit to watch the screening of #catvidfest?&#8221;</h2>
				<p>All ticket holders are welcome to curl up in their favorite spot on West Grand. Tents, tables, chairs or any other large seating options will not be allowed into the festival.</p>

				<h2>&#8220;When can I reserve my spot on West Grand?&#8221;</h2>
				<p>All VIP ticket holders will have a chair reserved in front of the Save A Kitten stage and Great Wall all day long. Open seating for the <a href="http://www.walkerart.org/channel/2012/internet-cat-video-festival" alt="Read more about Walker Art Museum's Internet Cat Video Festival">#catvidfest</a> screening will begin around 7:30 pm and is on a first come, first serve basis. Regular ticket holders may not reserve a space in the street prior to 7:30 pm. </p>

				<h2>&#8220;Where do I park? How do I get there?&#8221;</h2>
				<p>Checkout the <a href="#directions">directions</a>.</p>

				<h2>&#8220;Can I come dressed as a cat?&#8221;</h2>
				<p>Of course! Cat-themed attire is welcome.</p>

		</div>

		{{> Modules/Contact }}
		{{> Modules/Presenters }}

	</section>

	{{> Modules/Footer }}

</div>
