<div class="layout">

	<section class="header col-10-10" id="header">

		<div itemscope itemtype="http://data-vocabulary.org/Event">

			<img class="gwo" src="http://greatwallofoakland.org/images/logo-gwo-header.png" alt="The Great Wall of Oakland">
			<p><em>presents</em></p>

			<img itemprop="photo" class="cat" src="http://greatwallofoakland.org/images/le_chat.png" alt="Alley Cat">

			<h1 itemprop="summary">Save A Kitten at OakCatVidFest</h1>
			<h2><time itemprop="startDate" datetime="2014-05-10T15:00">Saturday May 10th, 2014 3</time>-<time itemprop="endDate" datetime="2014-05-10T22:00">10PM</time></h2>
			<p itemprop="description">The 2nd Annual Art and Cat Extravaganza Benefiting the <a class="button" href="https://www.eastbayspca.org/">East Bay SPCA</a></p>

			<span itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">

				<meta itemprop="name" content="The Great Wall of Oakland">

				<span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">

					<meta itemprop="street-address" content="Broadway & West Grand Ave.">
					<meta itemprop="locality" content="Oakland">
					<meta itemprop="region" content="CA">

				</span>

				<span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">

					<meta itemprop="latitude" content="37.817024" />
					<meta itemprop="longitude" content="-122.265671" />

				</span>

			</span>

		</div>

	</section>

	{{> Modules/Navigation }}

	<section class="col-10-10" id="content">

		<div class="col-6-10" id="about">

			<h1 class="headline">Welcome to Save A Kitten at OakCatVidFest!</h1>
			<h2>Join us on Saturday, May 10, 2014 from 3-10pm</h2>

			<p>For the 2nd year in a row, the Great Wall of Oakland will present #catvidfest, the Walker Art Center's highly celebrated screening of the best cat videos the internet has to offer, on the 100' urban canvas! Saturday, May 10, 2014, an estimated 6,000+ cat-lovers and friends will celebate felines, explore the low-art of internet cat videos together, and have the opportunity to adopt cats and kittens as we transform West Grand between Telegraph and Broadway into a cat-lovers wonderland. Best of all, proceeds benefit the <a class="button" href="https://www.eastbayspca.org/">East Bay SPCA!</a></p>
			<p><a href="/about">Learn more about OakCatVidFest</a>.</p>

			<p>The internet is predicting wind on Saturday, so dress warmly and bring your layers!</p>

			{{> Modules/Social Links }}

		</div>

		<div class="col-6-10" id="tickets">

			<h2 class="headline">Buy Festival Tickets!</h2>

			<p>We're selling tickets at the door! $15 for general admission, $10 for children and seniors, $60 for reserved seating, and $100 for VIP.</p>

			<iframe  src="https://www.eventbrite.com/tickets-external?eid=10806952887&ref=etckt" frameborder="0" height="960" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
			<small><a target="_blank" href="http://www.eventbrite.com/r/etckt">Online Ticketing</a> for <a target="_blank" href="https://www.eventbrite.com/e/save-a-kitten-at-oakcatvidfest-2014-tickets-10806952887?ref=etckt">Save A Kitten at OakCatVidFest 2014</a> powered by <a target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></small>

		</div>

		<div class="col-6-10" id="map">

			<h2 class="headline">Festival Map</h2>

			<a href="http://www.greatwallofoakland.org/oakcatvidfest/oakcatvidfest-map.pdf"><img src="http://www.greatwallofoakland.org/images/map.gif" alt="Map of the Oakland Internet Cat Video Festival"></a>
			<a href="http://www.greatwallofoakland.org/oakcatvidfest/oakcatvidfest-map.pdf">Download the Map</a>

		</div>

		<div class="col-6-10" id="directions">

			<h2 class="headline">Directions</h2>

			<iframe width="100%" height="460" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=broadway+and+w+grand+ave+oakland,+ca&amp;sll=37.811438,-122.266816&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=Broadway+%26+W+Grand+Ave,+Oakland,+Alameda,+California+94612&amp;t=m&amp;ll=37.820701,-122.264957&amp;spn=0.032544,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
			<small><a href="https://maps.google.com/maps?q=broadway+and+w+grand+ave+oakland,+ca&amp;sll=37.811438,-122.266816&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=Broadway+%26+W+Grand+Ave,+Oakland,+Alameda,+California+94612&amp;t=m&amp;ll=37.820701,-122.264957&amp;spn=0.032544,0.054932&amp;z=14&amp;iwloc=A&amp;source=embed">View Larger Map</a></small>

			<p>The Oakland Cat Video Festival will be held at the Great Wall of Oakland and the surrounding areas on West Grand.</p>

			<h3>How do I get there?</h3>

			<ul>
				<li><strong>By BART:</strong> Exit the 19th street BART station and walk north up Broadway four blocks.</li>
				<li><strong>By Bus:</strong> AC Transit line 51A stops on Broadway right next to the Great Wall of Oakland. Lines 1, 11, 12, 18, 72 and 72M stop in the vicinity of Broadway and 20th, several blocks south of the Great Wall.</li>
				<li><strong>By Car:</strong> In addition to street parking, there are several <a href="http://www.douglasparking.com/Paramount_Theater.179.0.html">Douglas Parking Lots</a> around the area.</li>
				<li><strong>By Bike:</strong> There is an awesome new bike parking lot at 24th and Valley Street.</li>
			</ul>

		</div>

		<div class="col-6-10" id="faq">

			<h1 class="headline">Feline FAQ</h1>

				<h2>What will the weather be like?</h2>
				<p>The internet is predicting wind on Saturday, so dress warmly and bring your layers!</p>

				<h2>Is Lil Bub really coming to the festival? </h2>
				<p>Yes, she is! Lil Bub is our poster-cat as she was fostered by now owner, Mike Bridavsky. Meet and Greet Bub Tickets will go on sale on May 1, 2014 on our website. And everyone will get to see the adorable Bub when she (er Mike) introduce the screening!</p>

				<h2>Can I bring my dog?</h2>
				<p>Nope! This is a cat fest, silly!</p>

				<h2>Can I bring my cat?</h2>
				<p>If your cat likes being on a leash and with crowds, by all means! Please keep in mind the festival might be loud and scary for cats that aren't used to being away from their home, so please use caution. Having a carrier is highly recommended.</p>

				<h2>Will there be litter boxes and water bowls for my cat on a leash?</h2>
				<p>Nope!</p>

				<h2>Can I adopt a cat or kitten from a rescue center at the festival?</h2>
				<p>Yes, you can! There will be many beautiful felines who need new homes at the festival.</p>

				<h2>Why am I paying $10 for a street festival?</h2>
				<p>There are a few reasons. Most importantly, OakCatVidFest is a benefit for the East Bay SPCA which is doing excellent work for the cats (and dogs) in our community. Secondly, it’s not cheap to close down a major street in the middle of Oakland and bring a few thousand people down to enjoy a large-scale projection of cat videos. If you consider that movie tickets are well over $10 these days, you are getting a pretty good deal (festival entrance + live music + screening of <a href="http://www.walkerart.org/channel/2012/internet-cat-video-festival" alt="Read more about Walker Art Museum's Internet Cat Video Festival">#catvidfest</a> + donation to the East Bay SPCA = money well spent)!</p>

				<h2>How can I get <strong>FREE</strong> tickets to the festival?</h2>
				<p>Become a kitten foster parent with one of our participating shelters! Or, sign up to be a <a class="button" href="http://www.oaklandcatvidfest.com/vendors#volunteers">festival volunteer</a>.</p>

				<h2>What percentage of the ticket sales are going to the East Bay SPCA?</h2>
				<p>All proceeds after costs are going to the East Bay SPCA. If you would like to donate directly to East Bay SPCA, <a href="https://eastbayspca.org/page.aspx?pid=967">please do!</a></p>

				<h2>Will there be food / beverages at the festival?</h2>
				<p>Sure will! At least ten food trucks with delicious human food will be onsite, as well as, bar serving beer, wine and non-alcoholic beverages. No outside food or drink is allowed inside the festival grounds. We promise <strong>NOT</strong> to run out of beer this year!</p>

				<h2>Are there in and out privileges?</h2>
				<p>Yes, you can come in and out and in and out all day long, as long as you have on your collar (er, wristband).</p>

				<h2>What will I do at this festival?</h2>
				<p>The Save A Kitten at OakCatVidFest is a celebration of cats, art and technology. There will be all a lot of cats to see, all kinds of Cativities (free art projects for all ages), bands, and many vendors to check-out.</p>

				<h2>Where do I sit to watch the screening of <a href="http://www.walkerart.org/channel/2012/internet-cat-video-festival" alt="Read more about Walker Art Museum's Internet Cat Video Festival">#catvidfest</a>?</h2>
				<p>All ticket holders are welcome to curl up in their favorite spot on West Grand. Tents, tables, chairs or any other large seating options will not be allowed into the festival. Ticket holders are welcome to bring small blankets, short beach chairs and small pads and set them up at 8pm on a first come, first serve basis. Seating and exit isles will be better managed this year!</p>
				<p>If you’d like the festival to provide you with an actual chair, purchase a VIP or Reserved Seating Ticket for premium seating.</p>

				<h2>What is the difference between VIP Admission and Reserved Seating Admission?</h2>
				<p>VIP and Reserved Seating Admission include all-day access to one of the two reserved seating sections with prime viewing of the stage and Great Wall of Oakland. The additional perks of the Whole Foods Market VIP tickets include all-day access to the VIP area (tent, seating, beverages, private bathrooms) and an invitation to the Whole Paws Party,a private reception from 5:30-7:30p.m. (wine and hors d' oeuvres provided by Whole Foods and local restaurants). These tickets are partially tax-deductible under GWO, Inc (EIN - 37-1714539). At the door, VIP tickets will be $100 and Reserved Seating will be $60.</p>

				<h2>Where do I park? How do I get there?</h2>
				<p>We highly recommend coming on public transportation (19th St BART is 4 short blocks away). Checkout the <a href="#directions">directions</a>.</p>

				<h2>Can I come dressed as a cat?</h2>
				<p>Of course! Cat-themed attire is welcome.</p>

		</div>

		{{! Modules/Contact }}
		{{> Modules/Presenters }}

	</section>

	{{> Modules/Footer }}

</div>
