<div class="schedule col-6-10" id="schedule">

	<h1 class="headline">Save a Kitten Stage Schedule</h1>

	<table>

		<thead>

			<tr>
			<td>Time</td>
			<td>Performance</td>
			</tr>

		</thead>

		<tfoot>

			<tr>
			<td colspan="2">Keep in mind that certain events and timings might change.</td>
			</tr>

		</tfoot>

		<tbody>
			<tr>
				<td class="time">3:00 PM</td>
				<td><a href="http://www.vagabondageband.com/">Vagabondage</a>

					<small>Vagabondage is a Bay Area, California based folk-punk band that was born over nachos and wine on a tiny stage in an empty theater in San Francisco’s Mission District. They play songs of heartbreak, hope, and doom, and play accordions to save kittens!</small>

				</td>
			</tr>
			<tr>
				<td class="time">4:00 PM</td>
				<td><a href="http://www.dedward007.com">D. Edward</a>

					<small>Oakland native D. Edward is a singer, songwriter and multi instrumentalist. He along with his 6 piece band play a soulful, fun and groovy blend of original Soul, Pop and Jazz with hints of Latin influences. His band includes, Leah Tysee, a Billboard Music Award winner and soloist for Glide Memorial Church and Jeff Oster, who performed on a 2014 Grammy winning and also a 2014 Grammy nominated album. D. Edward also performs with R&amp;B/Funk legends ConFunkShun, when not fronting his own band. </small>

				</td>
			</tr>
			<tr>
				<td class="time">5:00 PM</td>
				<td><a href="http://www.ronnronnronn.com">Ronn Vigh</a>

				  <small>Ronn Vigh’s brash attitude and acerbic wit have earned him a comparison to a young Joan Rivers by SF Weekly. Which is a fitting comparison, since he later became a writer for E! Television’s “Fashion Police” co-hosted by Joan Rivers. He was featured on NBC’s Last Comic Standing II and in 2005 started comedy night at Harvey’s and currently produces the successful “Harvey’s Funny Tuesdays” weekly comedy show in the Castro District of San Francisco. </small>

				</td>
			</tr>
			<tr>
				<td class="time">5:15 PM</td>
				<td><a href="http://www.facebook.com/zanzibarphysics">Zanzibar Physics</a>

				  <small>We are based out of Oakland and Alameda, and we play alternative music, and we're singing CAT SONG by adhd.</small>

				</td>
			</tr>
			<tr>
				<td class="time">6:00 PM</td>
				<td><a href="http://www.caitlingill.com/">Caitlin Gil Comedy</a>

				  <small>Caitlin's comedy style twists her personal experiences into comedy confessions that will leave you red in the face, probably from laughter.</small>

				</td>
			</tr>
			<tr>
				<td class="time">6:15 PM</td>
				<td><a href="https://www.facebook.com/Proteamusic">Protea</a>

				  <small>Protea is Serena Toxicat's thorny, sharp-clawed, 21st century brainchild. She recommends that you enjoy a tincture of this mysterious flower in a cozy dungeon with a crystal divinatory pendulum and a cup of catnip tea.</small>

				</td>
			</tr>
			<tr>
				<td class="time">6:45 PM</td>
				<td><a href="http://katewillett.com">Kate Willett</a>

				  <small>Kate Willett is a San Francisco based comedian and actress. She’s appeared in SF Sketchfest, the San Francisco Comedy Competition, and at clubs, theaters and dive bars all over. San Francisco Magazine says she’s a comedian you should know about and the SF Weekly says she’s one of the “strongest female figures in Bay Area Comedy”.</small>

				</td>
			</tr>
			<tr>
				<td class="time">7:00 PM</td>
				<td><a href="http://bandaloop.org/">Bandaloop</a>

					<small>The Great Wall of Oakland's artist in residence and internationally recognized aerial dance troupe, Bandaloop, will perform the first ever aerial kittycat duet off the 100' Wall. It is one kittycat duet not to be missed!</small>

				</td>
			</tr>
			<tr>
				<td class="time">7:10 PM</td>
				<td>Broke Down Palace

					<small>Broke Down Palace is a tribute to the well-worn and well-loved music of the Grateful Dead and their 1970's contemporaries. While we primarily play Dead tunes (such as Scarlet Begonias, Fire on the Mountain, Franklin's Tower, etc.), we love to dust off a Whipping Post or Blue Sky from the Allman Brothers, or any number of old favorites from Bob Dylan, the Band, and others.</small>

				</td>
			</tr>
			<tr>
				<td class="time">8:00 PM</td>
				<td><a href="http://bandaloop.org/">Bandaloop</a>

					<small>The Great Wall of Oakland's artist in residence and internationally recognized aerial dance troupe, Bandaloop, will perform the first ever aerial kittycat duet off the 100' Wall. It is one kittycat duet not to be missed!</small>

				</td>
			</tr>
			<tr>
				<td class="time">8:30 PM</td>
				<td>Bay Area Premeire of <a href="http://www.walkerart.org/channel/2012/internet-cat-video-festival">#catvidfest</a>

					<small>The main attraction!</small>

				</td>
			</tr>
		</tbody>

	</table>

</div>

<div class="events col-6-10" id="events">

	<h1 class="headline">Festival Schedule</h1>

	<h2>Cat &amp; Kitten Adoptions (3:00 PM - 7:00 PM)</h2>
	<p>Fall in Love with a furry friend from one of our <a href="/adoptions#shelters">participating animal shelters</a>.</p>

	<h2>Celebrity Cat Meet and Greets (3:00 PM - 7:00 PM)</h2>
	<p>Come say "hi" to some of your favorite famous kitties!</p>

	<p>3:00 PM - 5:00 PM: <a href="https://www.facebook.com/pages/Dusty-Klepto-Kitty-The-REAL-One/151649141562164">Dusty the Klepto Kitty</a> - Keep hold of your personal belongings as this domestic Snowshoe is the famous "cat burglar" who has been seen on The Late Show with David Letterman for stealing everything from shoes to safety masks to Frisbees to pajama pants!</p>
	<p>5:00 PM - 6:30 PM: <a href="https://www.facebook.com/AvaGardnertheCat">Ava Gardner, the cat</a> - She's as beautiful as the real Ava Gardner was. So there. She'll be hanging out in the Maine Coon Adoptions Tent, basking in her fabulousness.</p>
	<p>5:00 PM - 7:00 PM: <a href="http://lilbub.com">Lil BUB</a> - The one and only Lil BUB will purr and squeak for 200 of her most loyal fans. Due to her delicate nature, a limited number of tickets to meet BUB can be purchased <a class="button" href="http://www.eventbrite.com/e/save-a-kitten-at-oakcatvidfest-2014-tickets-10806952887">here</a>.</p>

    <h2>Whole Paws Party (5:30 PM - 7:30 PM)</h2>
    <p>Attend the Whole Paws Party, a private reception for all <a href="https://www.eventbrite.com/e/save-a-kitten-at-oakcatvidfest-2014-tickets-10806952887?ref=etckt">VIP Ticket Holders</a> sponsored by Whole Foods Market.</p>

	<h2>Cativities (3:00 PM - 7:00 PM)</h2>
	<p>Create cat crafts with local, non-profit art organizations in our Cativity Section!</p>

	<h3>Participating Crafters:</h3>

	<ul>
	    <li><a href="http://www.aascalifornia.org/">Academy of Arts and Sciences</a></li>
        <li><a href="http://paintpenscollective.tumblr.com/">The Paints Pens Collective</a></li>
        <li><a href="http://www.rpscollective.org/">Rock Paper Scissors Collective</a></li>
		<li><a href="http://visitoakland.org/">Visit Oakland</a></li>
    </ul>

	<h2>Food Plaza (3:00 PM - 10:00 PM)</h2>
	<p>Nom on some delicious human food and beverages from our local vendors.</p>

	<h3>Participating Food Vendors:</h3>

	<ul>
		<li><a href="http://www.aliciatamaleslosmayas.com/">Alicia's Tamales Los Mayas</a></li>
		<li><a href="http://www.borinquensoul.com/">Boriquen Soul</a></li>
		<li>Delicious Kettle Corn</li>
		<li><a href="http://www.kennysheartandsoul.com/">Kenny's Heart and Soul</a></li>
		<li><a href="http://www.melt.com/">The Melt</a></li>
		<li><a href="http://www.filipinoveganfood.com/">No Worries Filipino Vegan Food</a></li>
		<li><a href="http://www.sosbakeshop.com/">Shades of Sugar Bakeshop</a></li>
		<li><a href="http://www.sweetbarbakery.com/">Sweet Bar Bakery</a></li>
		<li><a href="http://www.tantescatering.com/">Tante's Catering and Concessions</a></li>

	</ul>

	<h3>Participating Wineries and Breweries:</h3>

	<ul>
        <li><a href="http://bisonbrew.com/">Bison Organic Beer</a></li>
		<li><a href="http://cerruticellars.com/">Cerruti Cellars</a></li>
        <li><a href="http://drinkdrakes.com/">Drake's Brewing</a></li>
        <li><a href="http://www.luckydevilbrewery.com/">Lucky Devil Brewery</a></li>
        <li><a href="http://www.pyramidbrew.com/">Pyramid Brewery</a></li>
        <li><a href="http://www.ulcellars.com/">Urban Legend</a></li>
    </ul>

	<h2>Kittycity (3:00 PM - 8:30 PM)</h2>
	<p>Stroll through Kitty City and check out the fun cat-themed toys, apparel, art and much more.</p>

	<h3>Participating vendors</h3>

	    <ul>
        <li><a href="http://www.3daypetsupply.com/">3 Day Pet Supply</a></li>
        <li><a href="http://www.etsy.com/shop/bottleofclouds">Bottle of Clouds</a></li>
        <li><a href="http://www.catpeoplestore.com/">CatPeopleStore</a></li>
        <li><a href="http://www.dawnkathrynstudio.com/">Dawn Kathryn Studio</a></li>
        <li><a href="http://facebook.com/dorklandia">dorklandia</a></li>
        <li><a href="http://www.feralchange.org/">Feral Change</a></li>
        <li><a href="http://www.fixourferals.org/">Fix Our Ferals</a></li>
        <li><a href="http://www.foreignspell.com/">Foreignspell</a></li>
        <li><a href="http://www.friendsofromancats.org/">Friends of Roman Cats</a></li>
        <li><a href="http://www.thefurrtographer.com/">The Furrtographer</a></li>
        <li><a href="http://www.thegirlandrhino.com/">The Girl and Rhino</a></li>
        <li><a href="http://www.jennyparks.com/">Jenny Parks Illustration</a></li>
        <li>Johnson Pet Products</li>
        <li><a href="http://www.jsperry.com/">J. S. Perry Studio</a></li>
        <li><a href="http://www.meganlynnkott.tumblr.com/">Megan Lynn Kott</a></li>
        <li><a href="http://www.meowganizer.com/">The Meowganizer</a></li>
        <li><a href="http://www.mettleandmoxiedesigns.com/">Mettle and Moxie Designs</a></li>
        <li><a href="http://www.misohandmade.com/">Miso Handmade</a></li>
        <li><a href="http://www.multiflasking.net/">MultiFlasking</a></li>
        <li><a href="http://oaklandish.com/">Oaklandish</a></li>
        <li><a href="http://www.pamelabaron.com/">Pamela Baron Designs</a></li>
        <li>Put a Cat on It</li>
        <li><a href="http://www.eatlikealion.com/">RAWR</a></li>
        <li><a href="http://www.sfweekly.com/">S.F. Weekly</a></li>
        <li><a href="http://www.shastablasta.com/">Shastablasta</a></li>
        <li><a href="http://www.silverpetprints.com/">Silver Pet Prints</a></li>
        <li>Top Cats By Mail</li>
        <li><a href="http://www.visitoakland.org/">Visit Oakland</a></li>
        <li><a href="https://www.facebook.com/ZiZiButtons">ZiZi Buttons</a></li>
    </ul>

</div>
