<div class="col-6-10">

	<h1 class="headline">Attend the OMCA Pre-screening</h1>

	<p>On <strong>Friday, May 10 from 7-8:45 pm</strong>, the Oakland Museum of California will co-host a pre-screening of the Walker Art Center’s curated <a href="http://www.walkerart.org/channel/2012/internet-cat-video-festival">#catvidfest</a> featuring your favorite Internet cat videos projected larger-than-life in the James Moore Theater. The screening is preceded by a VIP talk with Scott Stulen, Project Director of the Walker Art Center, Douglas Long, Ph.D., OMCA Senior Curator of Natural Sciences, and Ren&eacute; de Guzman, OMCA Senior Curator of Art. </p>

	<h2>Buy Pre-screening Tickets!</h2>
	<div style="width:100%; text-align:left;">

		<iframe  src="http://www.eventbrite.com/tickets-external?eid=5937556391&ref=etckt&v=2" frameborder="0" height="247" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
		<div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;">

			<a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event management for Internet Cat Video Pre-screening at the Oakland Mew-seum of California powered by Eventbrite</a>

		</div>

	</div>

	<iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Oakland+Museum+of+California+1000+Oak+Street+Oakland,+CA+94607&amp;aq=&amp;sll=37.84097,-122.263756&amp;sspn=0.134479,0.268135&amp;ie=UTF8&amp;hq=Oakland+Museum+of+California+1000+Oak+Street+Oakland,+CA+94607&amp;t=m&amp;ll=37.80146,-122.262747&amp;spn=0.008138,0.013733&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
	<a class="button" href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Oakland+Museum+of+California+1000+Oak+Street+Oakland,+CA+94607&amp;aq=&amp;sll=37.84097,-122.263756&amp;sspn=0.134479,0.268135&amp;ie=UTF8&amp;hq=Oakland+Museum+of+California+1000+Oak+Street+Oakland,+CA+94607&amp;t=m&amp;ll=37.80146,-122.262747&amp;spn=0.008138,0.013733&amp;z=16&amp;iwloc=A">View Larger Map</a>

</div>
