<div class="col-6-10" id="sponsors">

	<h1 class="headline">Sponsors</h1>
	<p>The Oakland Internet Cat Video Festival is proudly sponsored by:</p>

	<h2>Top Cat Sponsor</h2>

        <ul>
        <li><a href="http://www.petfoodexpress.com/"><img src="http://www.greatwallofoakland.org/images/logo-petfood_express.png" alt="PetFoodExpress"></a></li>
        <li><a href="http://www.petfoodexpress.com/giving-back/save-a-kitten/"><img src="http://www.greatwallofoakland.org/images/logo-save_a_kitten.png" alt="Save a Kitten"></a></li>
    	</ul>

	<p>There are a limited number of sponsorships available in 2014. For more information, email <a class="button" href="mailto:oaklandcatvidfest@gmail.com">oaklandcatvidfest@gmail.com</a> with the subject heading: "Sponsorship"</p>


	<h2>Feline Friend Sponsor</h2>

        <ul>
        <li><a href="http://meowmix.com/"><img src="http://www.greatwallofoakland.org/images/logo-meowmix.png" alt="MeowMix"></a></li>
        <li><a href="http://9lives.com/"><img src="http://www.greatwallofoakland.org/images/logo-9lives.png" alt="9Lives"></a></li>
		</ul>

	{{!

	<h2>Ticket Sponsor</h2>

        <ul class="single">
    	<li><a href="http://www.eventbrite.com/"><img src="http://www.greatwallofoakland.org/images/logo-eventbrite.png" alt="Eventbrite"></a></li>
        </ul>

	}}

	<h2>Kittycat Sponsors</h2>

        <ul>
        <li><a href="http://www.wholefoods.com/"><img src="http://www.greatwallofoakland.org/images/logo-whole_foods.png" alt="Whole Foods"></a></li>
		<li><a href="http://www2.oaklandnet.com/"><img src="http://www.greatwallofoakland.org/images/logo-city_of_oakland.png" alt="City of Oakland"></a></li>
        <!--li><a href="http://www.eceeproductions.com/"><img src="http://www.greatwallofoakland.org/images/logo-ecee_productions.png" alt="E. Cee Productions"></a></li> -->
		</ul>

        <!--ul>
		<li><a href="http://www.oaklandish.com/"><img src="http://www.greatwallofoakland.org/images/logo-oaklandish.png" alt="Oaklandish"></a></li
        <li><img src="http://www.greatwallofoakland.org/images/logo-bay_area_entertainment_listings.png" alt="Bay Area Entertainment Listing"></li>
        <li><a href="http://kittyflix.com/"><img src="http://www.greatwallofoakland.org/images/logo-kitty_flix.png" alt="Kitty Flix"></a></li>
		</ul-->

	<h2>Media Purrtners</h2>

        <ul>
        <!--li><a href="http://www.bavc.org/"><img src="http://www.greatwallofoakland.org/images/logo-bvac.gif" alt="BVAC - Bay Area Video Coalition"></a></li>
        <li><a href="http://animal.discovery.com/"><img src="http://www.greatwallofoakland.org/images/logo-animal_planet.png" alt="Animal Planet"></a></li-->
        <li><a href="http://www.ktvu.com/"><img src="http://www.greatwallofoakland.org/images/logo-ktvu.png" alt="KTVU"></a></li>
        <li><a href="http://www.comcast.com/"><img src="http://www.greatwallofoakland.org/images/logo-comcast.png" alt="Comcast"></a></li>
		<li><a href="http://www.koit.com/"><img src="http://www.greatwallofoakland.org/images/logo-koit.png" alt="KOIT"></a></li>
		</ul>

	<h2>Meow Sponsor</h2>

        <ul>
        <li><a href="http://www.kidfestconcord.com/"><img src="http://www.greatwallofoakland.org/images/logo-bay_area_festivals.png" alt="Bay Area Festivals"></a></li>
		<li><a href="https://www.dropcam.com/"><img src="http://www.greatwallofoakland.org/images/logo-dropcam.png" alt="Dropcam"></a></li>
		</ul>

	{{!

	<h2>Kitten Club</h2>

        <ul>
        <li><a href="http://www.thefurrtographer.com/"><img src="http://www.greatwallofoakland.org/images/logo-thefurrtographer.jpg" alt="The Furrtographer"></a></li>
        <li><a href="http://www.douglasparking.com/"><img src="http://www.greatwallofoakland.org/images/logo-douglas_parking.png" alt="Douglas Parking"></a></li>
        <li><a href="http://www.thetravelingphotobooth.com/"><img src="http://www.greatwallofoakland.org/images/logo-traveling_photo_booth.jpg" alt="Traveling Photo Booth"></a></li>
		<li><a href="http://www.lafarine.com/"><img src="http://www.greatwallofoakland.org/images/logo-la_farine.png"></a></li>
		</ul>

	}}


</div>
