<div class="col-6-10" id="vendors">

	<h1 class="headline">Vendors</h1>
	<p>We are now accepting commercial, arts &amp; craft and nonprofit vendor applications with payment for the 2014 festival!</p>
	<p>Please fill out the below and submit payment via credit card here OR via check made out to "GWO, Inc." and mailed to GWO, Inc., 580 2nd Street, Oakland, CA 94607.</p>
	<p>We have a limited number of vendor spaces available and expect to sell out early. Vendors are selected on a first come, first served basis and subject to festival approval. Vendor space is not secured until application is accepted and payment is processed. All vendors must have products or services for cats, art, technology or Oakland and are subject to festival approval. Refunds will be given to vendors who do not meet festival criteria.</p>

	<a class="button emphasis" href="https://docs.google.com/forms/d/1zRudMHyceVzgOBYDKmJn6mrpwjXBle9z9mQKJWEk3Q8/viewform">Apply to Be a Vendor!</a>

	<div class="more-info">

		<h3>For more information on:</h3>

		<ul>
		<li>Commercial, nonprofit, or arts and crafts vendors, contact <a href="mailto:jay@greatwallofoakland.org">jay@greatwallofoakland.org</a></li>
		<li>Selling food or beverages, contact <a href="mailto:miked@greatwallofoakland.org">miked@greatwallofoakland.org</a></li>
		<li>Bringing a cat rescue or shelter to the festival, contact <a href="mailto:issabella@greatwallofoakland.org">issabella@greatwallofoakland.org</a></li>
		</ul>

	</div>

	<div class="forms">

		<div class="form">

			<h2>Pay Vendor Fee</h2>

			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="F9XGSNPYQBCSS">
			<input type="hidden" name="on0" value="Business / Organization Type">
			<input type="hidden" name="on1" value="Nonprofits indicate EIN:">
			<input type="hidden" name="currency_code" value="USD">

				<div>

					<label>Business / Organization Type</label>

					<select name="os0">
					<option value="Commercial Vendor">Commercial Vendor $300.00 USD</option>
					<option value="Nonprofit Vendor">Nonprofit Vendor $150.00 USD</option>
					<option value="Arts and Crafts Vendor (without a storefront)">Arts and Crafts Vendor (without a storefront) $100.00 USD</option>
					</select>

				</div>

				<div>

					<label>Nonprofits indicate EIN:</label>
					<input type="text" name="os1" maxlength="200">

				</div>

			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>

		</div>

		<div class="form">

			<h2>Equipment Rental (Optional)</h2>

			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="XRKHBDQJPXK9A">
			<input type="hidden" name="on0" value="(Optional)">
			<input type="hidden" name="currency_code" value="USD">

				<div>

					<select name="os0">
					<option value="10'x10' Tent">10'x10' Tent $125.00 USD</option>
					<option value="6' Table and 2 Folding Chairs">6' Table and 2 Folding Chairs $20.00 USD</option>
					<option value="10'x10' Tent, 6' Table and 2 Folding Chairs">10'x10' Tent, 6' Table and 2 Folding Chairs $145.00 USD</option>
					</select>

				</div>

			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>

		</div>

	</div>

	{{!
	<p>The Oakland Internet Cat Video Festival would not be a festival without our incredible vendors! Throughout the day, participants can participate in a plethora of art and cat activities in Cativities, peruse pet products in Kitty City, sample delicious food from local food trucks in Cat Concessions, and shop for arts and crafts in Arts and Cats.</p>
	<p>If you are interested in vending at the Festival, fill out a vendor form for the appropriate area and our staff will follow-up:</p>

	<h2>Cativities</h2>
	<p>Are you a local arts organization or artist who would like to make cat-themed crafts with festival attendees? <a class="button" href="https://docs.google.com/forms/d/1hLrJo8kkFu3kbiZ31prkM25AqsV1nITW7ptrC52r-Kg/viewform">Apply to host a Cativity.</a></p>

	<h2>Food</h2>
	<p>Want to feed 5,000+ cat lovers? We are looking for a select group of food trucks for the Kitty Concessions Food Plaza. <a class="button" href="https://docs.google.com/forms/d/197TqTOJ67nOVV2UgxZwtHbIm9Fj69W3TwSo7vLWSfv8/viewform">Apply to be a food vendor.</a></p>

	<h2>Arts and Cats</h2>
	<p>Are you a local artisan looking to sell kitty crafts? Does your pet related company or non-profit want to have a tent at the festival? <a class="button" href="https://docs.google.com/forms/d/1u7sc1tiMmx8MVrFD3Z_KcfzgoLvn0FO-2WZnub86Swk/viewform">Apply to Arts and Cats.</a></p>
	}}

</div>

<div class="col-6-10" id ="volunteers">

	<h2 class="headline">Volunteers</h2>
	<p>We need your help! If you’d like to volunteer to make this festival run smoothly, please fill out the <a class="button" href="https://docs.google.com/forms/d/1szTPAgHf0d-NHUKuqHWP3Gu2D3tEXokkhYDl5j6oaB0/viewform">Volunteer Form</a> and our staff will follow-up.</p>

</div>
