<div class="col-6-10" id="contact">

	<h2 class="headline">Let's work together.</h2>
	<p><a class="button" href="{{pages.sponsors.url}}">Sponsor the festival!</a></p>
	<p><a class="button" href="{{pages.vendors.url}}">Become a vendor or volunteer!</a></p>

	<h3>Contact us.</h3>
	<p>Have a question? Email us at <a href="mailto:oaklandcatvidfest@gmail.com">oaklandcatvidfest@gmail.com</a>. Make sure you include your reason in the subject line.</p>
	<p>For all press and media inquiries, please contact event director Issabella Shields at <a href="mailto:thegreatwallofoakland@gmail.com?subject=Media%20Inquiry">thegreatwallofoakland@gmail.com</a></p>

	{{> Modules/Social Links }}

</div>
