<footer id="footer" class="col-6-10">

	<p><em><a href="http://www.youtube.com/watch?v=mXPeLctgvQI">Meow, you have a nice day.</a></em></p>

	<p>

		Design &amp; development by <a href="http://www.nirajpatil.com">Niraj Patil</a> + <a href="http://www.monikahoex.com">Monika Hoex</a><br />
		Logo &amp; print design by <a href="http://www.savioalphonso.com">Savio Alphonso</a><br />
		For the love of Oakland, CA.

	</p>

</footer>
