<div class="col-6-10" id="presenters">

	<h2>The Oakland Internet Cat Festival is presented by</h2>
	<p><a class="gwo logo" href="http://www.greatwallofoakland.org">The Great Wall of Oakland</a><a class="walker logo" href="http://www.walkerart.org/openfield">Walker Art Museum</a></p>

	{{!
	<h3>and sponsored by</h3>

	<ul class="sponsors one">
		<li class="sponsor"><a class="button" href="http://www.petfoodexpress.com/">PetFood Express</a></li>
		<li class="sponsor"><a class="button" href="http://www.petfoodexpress.com/giving-back/save-a-kitten/">Save a Kitten</a></li>
	</ul>

	<ul class="sponsors two">
		<li class="sponsor"><a class="button" href="http://www.freshstep.com/">FreshStep</a></li>
		<li class="sponsor"><a class="button" href="http://www.eventbrite.com/">Eventbrite</a></li>
		<li class="sponsor"><a class="button" href="http://www.wholefoods.com/">WholeFoods</a></li>
		<li class="sponsor"><a class="button" href="http://www.eceeproductions.com/">E. Cee Productions</a></li>
		<li class="sponsor"><a class="button" href="http://www.oaklandish.com/">Oaklandish</a></li>
		<li class="sponsor"><a class="button" href="http://www.comcast.com/">Comcast</a></li>
	</ul>

	<ul class="sponsors three">
		<li class="sponsor"><a class="button" href="http://animal.discovery.com/">Animal Planet</a></li>
		<li class="sponsor"><a class="button" href="http://www.ktvu.com/">KTVU</a></li>
		<li class="sponsor"><a class="button" href="http://www.bavc.org/">BAVC</a></li>
		<li class="sponsor"><a class="button" href="http://www.koit.com/">KOIT</a></li>
	</ul>
	}}

</div>
