<ul class="social">
<li><a class="zocial-facebook button" href="https://www.facebook.com/events/1388346361437864/" alt="Facebook - Oakland Internet Cat Video Festival"><strong>OakCatVidFest</strong></a></li>
<li><a class="zocial-twitter button" href="https://twitter.com/greatwalloak" alt="Twitter - @GreatWallOak"><strong>@GreatWallOak</strong></a></li>
<li><a class="zocial-eventbrite button" href="http://www.eventbrite.com/e/save-a-kitten-at-oakcatvidfest-2014-tickets-10806952887" alt="Eventbrite - Oakland Internet Cat Video Festival Hosted by the Great Wall of Oakland"><strong>OaklandCatVidFest</strong></a></li>
</ul>
