#page-adoptions .content {


	.shelters {

		@include reset(list);

		li {

			padding-bottom: 20px;
			border-bottom: 1px solid darken($green, 20%);
			margin-bottom: 20px;

			&:last-of-type {

				padding-bottom: 0;
				border-bottom: none;
				margin-bottom: 0;

			}

		}

	} /* .shelters */

	.photos {

		@include clearfix;

		img {

		display: block;
		float: left;
		width: 32%;
		max-width: 100%;
		margin-right: 2%;
		border: 6px solid $white;

			&:last-of-type { margin-right: 0; }

		}

	}

}
