ul.social {

	@include reset("list");
	padding-top: 20px;
	text-align: center;

	li { display: inline-block; }

	a {

		display: block;
		padding: 5px 10px;

		&:before { padding-right: 10px; }

	}

}
